<%= favicon_link_tag %>

<%= will_paginate @comments, :previous_label=>'≪前', :next_label=>'次≫' %> 
<table class="restrantTable bordered">
  <% old_restaurantid = -1 %>
  <% old_lunchid = -1 %>
  
  <% if !(@comments.blank?) %>
    <thead class="restrantTable">
      <tr bgcolor="#FFFF99">
        <th align="center" colspan="2" style="font-weight:bold">レストラン</th>
        <th align="center" colspan="2" style="font-weight:bold">ランチ</th>
        <th align="center" colspan="2" style="font-weight:bold">コメント</th>
      </tr>
    </thead>
  <% end %>

  <tbody>
 <!-- restaurant zone -->
  <% @comments.each do |lunch_comment| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      </td >
      <td class="list_actions" width="50">
      <% if lunch_comment.lunch.restaurant_id != old_restaurantid %>
        <%= link_to image_tag("Info.ico", :border=>0, :alt=>"詳細", :size=>"16x16"), lunch_comment.lunch.restaurant %>
        <%= link_to image_tag("Edit.ico", :border=>0, :alt=>"編集", :size=>"16x16"), edit_restaurant_path(lunch_comment.lunch.restaurant) %>
      <% end %>
      </td>
      <td class="info_restaurant">
      <% if lunch_comment.lunch.restaurant_id != old_restaurantid %>
        <dl>
          <dt><%= truncate(lunch_comment.lunch.restaurant.name, {:length => 40}) %></dt>
          <dd>
              <% if lunch_comment.lunch.restaurant.congestion %>
                ( 混雑度：<%= lunch_comment.lunch.restaurant.congestion.name %> )
              <% else %>
                ( 混雑度：未登録 )
              <% end %>
          </dd>
          <% unless lunch_comment.lunch.restaurant.postcode.nil? %>
            <dd>〒<%= truncate(lunch_comment.lunch.restaurant.postcode, {:length => 8}) %></dd>
          <% end %>
          <dd><%= truncate(lunch_comment.lunch.restaurant.address, {:length => 40}) %></dd>
          <dd><%= lunch_comment.lunch.restaurant.startTime.strftime('%H:%M') %> ～ <%= lunch_comment.lunch.restaurant.endTime.strftime('%H:%M') %></dd>
        </dl>
      <% end %>
      <td class="list_actions" width="50">
        <% unless lunch_comment.lunch.nil? %>
          <% if lunch_comment.lunch.id != old_lunchid %>
            <%= link_to image_tag("Info.ico", :border=>0, :alt=>"詳細", :size=>"16x16"), lunch_comment.lunch %>
            <%= link_to image_tag("Edit.ico", :border=>0, :alt=>"編集", :size=>"16x16"), edit_lunch_path(lunch_comment.lunch) %>
            <%= link_to image_tag("New_Lunch.ico", :border=>0, :alt=>"新規", :size=>"16x16"), {:controller => "lunches", :action => "new", :id => lunch_comment.lunch.restaurant_id} %>
          <% end %>
        <% else %>
           <%= link_to image_tag("New_Lunch.ico", :border=>0, :alt=>"新規", :size=>"16x16"), {:controller => "lunches", :action => "new", :id => lunch_comment.lunch.restaurant_id} %><br />
      <% end %>
      </td>

 <!-- lunch zone -->      
      <td class="info_lunch">
        <dl>
          <% if lunch_comment.lunch.nil? %>
            <dt>（未登録）</dt>
          <% else %>
            <% if lunch_comment.lunch_id != old_lunchid %>
			  <div class="layout_left">
              <dt><%= truncate(lunch_comment.lunch.name, {:length => 60}) %></dt>
              <dd><%= lunch_comment.lunch.genre.name %></dd>
              <dd><%= number_to_currency(lunch_comment.lunch.price, :unit => '円', :precision =>0, :format => '%n%u') %></dd>
              <% if lunch_comment.lunch.withdrink %>
    	          <dd>(ドリンクサービス有り)</dd>
              <% end %>
              </div>
			  <% unless lunch_comment.lunch.image_url.to_s.blank? %> 
				<div class="layout_right">
				  <%= image_tag lunch_comment.lunch.image_url.to_s  , :size=>"80x80" %>
				</div>
			  <% end %>
			<% end %>
          <% end %>
        <dl>
      </td>
      
 <!-- lunch_comment zone -->      
      <td class="list_actions" width="50">
        <% unless lunch_comment.lunch.nil? %>
          <% unless lunch_comment.nil? %>
            <%= link_to image_tag("Info.ico", :border=>0, :alt=>"詳細", :size=>"16x16"), lunch_comment %>
            <%= link_to image_tag("Edit.ico", :border=>0, :alt=>"編集", :size=>"16x16"), edit_lunch_comment_path(lunch_comment) %>
          <% end %>
            <%= link_to image_tag("New_Comment.ico", :border=>0, :alt=>"新規", :size=>"16x16"), {:controller => "lunch_comments", :action => "new", :id => lunch_comment.lunch_id} %>
        <% end %>
      </td>
      <td class="info_lunch_comment">
        <dl>
        <% if lunch_comment.nil? %>
          <dt>（未評価）</dt>
        <% else %>
          <dt><%= lunch_comment.rating_name %></dt>
          <dd><%= truncate(lunch_comment.name, {:length => 50}) %></dd>
          <dd><%= truncate(lunch_comment.text, {:length => 60}) %></dd> 
          <dd>(<%= display_time(lunch_comment.updated_at) %>)</dd>
       <% end %>
        <dl>
      </td>
    </tr>
   <% unless lunch_comment.lunch.restaurant.nil? %>
     <% old_restaurantid = lunch_comment.lunch.restaurant_id %>
   <% end %>
   <% unless lunch_comment.lunch.nil? %>
     <% old_lunchid = lunch_comment.lunch_id %>
   <% end %>
  <% end %>
  </tbody>
</table>
</div>

<%= will_paginate @comments, :previous_label=>'≪前', :next_label=>'次≫' %> 
